<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
  <ion-toolbar padding>
    <ion-input placeholder="Add Entry" [(ngModel)]="name"></ion-input>
    <ion-buttons end>
      <button ion-button icon-only clear item-right (click)="onPut()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of dbEntries">
      <p *ngIf="!item.editMode">{{item.article.value}}</p>
      <ion-input *ngIf="item.editMode" [(ngModel)]="item.article.value"></ion-input>

      <button *ngIf="item.editMode" ion-button icon-only clear item-right (click)="onUpdate(item)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <button *ngIf="!item.editMode" ion-button icon-only clear item-right (click)="onEdit(item)">
        <ion-icon name="create"></ion-icon>
      </button>

      <button ion-button icon-only clear item-right (click)="onDelete(item.article)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-item right>
      <ion-label>Synchronization</ion-label>
      <ion-toggle #toggle checked="false" (ionChange)="onToggleSync(toggle.checked)"></ion-toggle>
    </ion-item>

    <ion-item right>
      <ion-label>Conflict Resolution Strategy</ion-label>
      <ion-select [(ngModel)]="selectedStrategy">
        <ion-option *ngFor="let item of strategies" [value]="item">{{item.getName()}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>

</ion-footer>
