page-home {

}

.navbarToggle {
  background-color: transparent;
}

.toolbar {
  padding: 4px 16px 4px 16px;
}

ion-toolbar .text-input-md {
  margin: 13px 8px 13px 0;
}

ion-header ion-toolbar ion-buttons {
  margin-right: 8px;
}

ion-toolbar .bar-button-ios {
  margin: 0 8px 0 8px;
}

.list > .item-block:first-child {
  border-top: 0;
}

.item {
  padding-left: 0;
}

.list .item-input ion-label {
  margin: 0;
}

.list .item-input .text-input {
  margin-left: 0;
}
