<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <ion-item ngClass="navbarToggle">
        <ion-label> Sync</ion-label>
        <ion-toggle #toggle checked="false" (ionChange)="onToggleSync(toggle.checked)"></ion-toggle>
      </ion-item>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar padding>
    <ion-input placeholder="Add Entry" [(ngModel)]="name"></ion-input>
    <ion-buttons end>
      <button ion-button icon-only clear item-right (click)="onPut()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-list-header>
      To do
    </ion-list-header>
    <ion-item *ngFor="let item of dbEntries">
      <p *ngIf="!item.editMode">{{item.article.value}}</p>
      <ion-input *ngIf="item.editMode" [(ngModel)]="item.article.value"></ion-input>

      <button *ngIf="item.editMode" ion-button icon-only clear item-right (click)="onUpdate(item)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <button *ngIf="!item.editMode" ion-button icon-only clear item-right (click)="onEdit(item)">
        <ion-icon name="create"></ion-icon>
      </button>

      <button ion-button icon-only clear item-right (click)="onDelete(item.article.doc)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
